.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 27px;
  padding-top: 12px;
  &_inform {
    background: #ffffff;
    border: 1px solid #e7e8ec;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 155px;
    height: 61px;
  }
  &_button-dots {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
   
  }
  &_link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.336px;
    color: #384556;
    &:hover {
      color: #516683;
    }
  }
}

.contact {
  position: relative;
  left: 40px;
  right: 0;
  top: 6px;
}

.report {
  position: relative;
  left: 40px;
  right: 0;
  top: 0;
}
.contact::before {
  position: absolute;
  content: url("../Popup/img/mail.png");
  width: 16px;
  height: 10px;
  left: -26px;
  right: 20px;
  top: 2px;
}

.report::before {
  position: absolute;
  content: url("../Popup/img/Flag.png");
  width: 11px;
  height: 14px;
  left: -26px;
  right: 20px;
  top: 0;
}

hr {
  border: 1px solid #e7e8ec;
  margin-top: 12px;
}
